USE [ChatSystem]
GO
/****** Object:  Table [dbo].[AddFriend]    Script Date: 10/12/2023 9:33:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AddFriend](
	[User1] [nvarchar](50) NOT NULL,
	[User2] [nvarchar](50) NOT NULL,
	[FriendRequestFlag] [bit] NULL,
	[DateTime] [date] NOT NULL,
 CONSTRAINT [PK_AddFriend_1] PRIMARY KEY CLUSTERED 
(
	[User1] ASC,
	[User2] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Login]    Script Date: 10/12/2023 9:33:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Login](
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[ConfirmPass] [nvarchar](50) NOT NULL,
	[image] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[IDPermission] [int] NULL,
 CONSTRAINT [PK_Login] PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Messenger]    Script Date: 10/12/2023 9:33:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messenger](
	[idMessenger] [int] IDENTITY(1,1) NOT NULL,
	[Username1] [nvarchar](50) NOT NULL,
	[Username2] [nvarchar](50) NOT NULL,
	[Messenger] [nvarchar](max) NOT NULL,
	[TimeMessenger] [datetime] NOT NULL,
 CONSTRAINT [PK_Messenger] PRIMARY KEY CLUSTERED 
(
	[idMessenger] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permission]    Script Date: 10/12/2023 9:33:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permission](
	[IDPermission] [int] IDENTITY(1,1) NOT NULL,
	[PermissionName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Permission] PRIMARY KEY CLUSTERED 
(
	[IDPermission] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reason]    Script Date: 10/12/2023 9:33:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reason](
	[ReportReasonID] [int] IDENTITY(1,1) NOT NULL,
	[Reasons] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Reasons] PRIMARY KEY CLUSTERED 
(
	[ReportReasonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReportUser]    Script Date: 10/12/2023 9:33:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportUser](
	[ReportID] [int] IDENTITY(1,1) NOT NULL,
	[ReportUser] [nvarchar](50) NOT NULL,
	[ReportedUser] [nvarchar](50) NOT NULL,
	[ReportReasonID] [int] NOT NULL,
	[Note] [nvarchar](max) NULL,
 CONSTRAINT [PK_ReportUser] PRIMARY KEY CLUSTERED 
(
	[ReportID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[AddFriend] ([User1], [User2], [FriendRequestFlag], [DateTime]) VALUES (N'caheo12355', N'BocchiTheKien', 1, CAST(N'2023-10-05' AS Date))
INSERT [dbo].[AddFriend] ([User1], [User2], [FriendRequestFlag], [DateTime]) VALUES (N'caheo12355', N'Hutao', 0, CAST(N'2023-10-08' AS Date))
INSERT [dbo].[AddFriend] ([User1], [User2], [FriendRequestFlag], [DateTime]) VALUES (N'caheo12355', N'Kien', 1, CAST(N'2023-10-05' AS Date))
GO
INSERT [dbo].[Login] ([Username], [Password], [ConfirmPass], [image], [Email], [IDPermission]) VALUES (N'BocchiTheKien', N'amongus', N'amongus', N'', N'BocchiTheKien@gmail.com', 1)
INSERT [dbo].[Login] ([Username], [Password], [ConfirmPass], [image], [Email], [IDPermission]) VALUES (N'caheo12355', N'caheo12355', N'caheo12355', N'', N'starsbreaks@gmail.com', 2)
INSERT [dbo].[Login] ([Username], [Password], [ConfirmPass], [image], [Email], [IDPermission]) VALUES (N'Ganyu', N'ganyu', N'ganyu', N'', N'Ganyu@gmail.com', 2)
GO
SET IDENTITY_INSERT [dbo].[Messenger] ON 

INSERT [dbo].[Messenger] ([idMessenger], [Username1], [Username2], [Messenger], [TimeMessenger]) VALUES (1, N'BocchiTheKien', N'caheo12355', N'chao', CAST(N'2023-10-12T08:38:12.077' AS DateTime))
INSERT [dbo].[Messenger] ([idMessenger], [Username1], [Username2], [Messenger], [TimeMessenger]) VALUES (2, N'caheo12355', N'BocchiTheKien', N'Cho Nguyen', CAST(N'2023-10-12T08:38:16.973' AS DateTime))
INSERT [dbo].[Messenger] ([idMessenger], [Username1], [Username2], [Messenger], [TimeMessenger]) VALUES (3, N'BocchiTheKien', N'caheo12355', N'Cho TRƯơng', CAST(N'2023-10-12T08:38:21.963' AS DateTime))
SET IDENTITY_INSERT [dbo].[Messenger] OFF
GO
SET IDENTITY_INSERT [dbo].[Permission] ON 

INSERT [dbo].[Permission] ([IDPermission], [PermissionName]) VALUES (1, N'User')
INSERT [dbo].[Permission] ([IDPermission], [PermissionName]) VALUES (2, N'Admin')
SET IDENTITY_INSERT [dbo].[Permission] OFF
GO
SET IDENTITY_INSERT [dbo].[Reason] ON 

INSERT [dbo].[Reason] ([ReportReasonID], [Reasons]) VALUES (1, N'Nội dung nhạy cảm')
INSERT [dbo].[Reason] ([ReportReasonID], [Reasons]) VALUES (2, N'Làm Phiền')
INSERT [dbo].[Reason] ([ReportReasonID], [Reasons]) VALUES (3, N'Lừa Đảo')
SET IDENTITY_INSERT [dbo].[Reason] OFF
GO
SET IDENTITY_INSERT [dbo].[ReportUser] ON 

INSERT [dbo].[ReportUser] ([ReportID], [ReportUser], [ReportedUser], [ReportReasonID], [Note]) VALUES (1, N'caheo12355', N'BocchiTheKien', 1, N'Bocchi dam dang')
INSERT [dbo].[ReportUser] ([ReportID], [ReportUser], [ReportedUser], [ReportReasonID], [Note]) VALUES (2, N'caheo12355', N'Kien', 2, N'Among us')
INSERT [dbo].[ReportUser] ([ReportID], [ReportUser], [ReportedUser], [ReportReasonID], [Note]) VALUES (3, N'caheo12355', N'BocchiTheKien', 1, N'3')
SET IDENTITY_INSERT [dbo].[ReportUser] OFF
GO
ALTER TABLE [dbo].[AddFriend]  WITH CHECK ADD  CONSTRAINT [FK_AddFriend_Login1] FOREIGN KEY([User2])
REFERENCES [dbo].[Login] ([Username])
GO
ALTER TABLE [dbo].[AddFriend] CHECK CONSTRAINT [FK_AddFriend_Login1]
GO
ALTER TABLE [dbo].[AddFriend]  WITH CHECK ADD  CONSTRAINT [FK_AddFriend_Login2] FOREIGN KEY([User1])
REFERENCES [dbo].[Login] ([Username])
GO
ALTER TABLE [dbo].[AddFriend] CHECK CONSTRAINT [FK_AddFriend_Login2]
GO
ALTER TABLE [dbo].[Login]  WITH CHECK ADD  CONSTRAINT [FK_Login_Permission] FOREIGN KEY([IDPermission])
REFERENCES [dbo].[Permission] ([IDPermission])
GO
ALTER TABLE [dbo].[Login] CHECK CONSTRAINT [FK_Login_Permission]
GO
ALTER TABLE [dbo].[Messenger]  WITH CHECK ADD  CONSTRAINT [FK_Messenger_Login] FOREIGN KEY([Username1])
REFERENCES [dbo].[Login] ([Username])
GO
ALTER TABLE [dbo].[Messenger] CHECK CONSTRAINT [FK_Messenger_Login]
GO
ALTER TABLE [dbo].[Messenger]  WITH CHECK ADD  CONSTRAINT [FK_Messenger_Login1] FOREIGN KEY([Username2])
REFERENCES [dbo].[Login] ([Username])
GO
ALTER TABLE [dbo].[Messenger] CHECK CONSTRAINT [FK_Messenger_Login1]
GO
ALTER TABLE [dbo].[ReportUser]  WITH CHECK ADD  CONSTRAINT [FK_ReportUser_Login] FOREIGN KEY([ReportUser])
REFERENCES [dbo].[Login] ([Username])
GO
ALTER TABLE [dbo].[ReportUser] CHECK CONSTRAINT [FK_ReportUser_Login]
GO
ALTER TABLE [dbo].[ReportUser]  WITH CHECK ADD  CONSTRAINT [FK_ReportUser_Login1] FOREIGN KEY([ReportedUser])
REFERENCES [dbo].[Login] ([Username])
GO
ALTER TABLE [dbo].[ReportUser] CHECK CONSTRAINT [FK_ReportUser_Login1]
GO
ALTER TABLE [dbo].[ReportUser]  WITH CHECK ADD  CONSTRAINT [FK_ReportUser_Reason] FOREIGN KEY([ReportReasonID])
REFERENCES [dbo].[Reason] ([ReportReasonID])
GO
ALTER TABLE [dbo].[ReportUser] CHECK CONSTRAINT [FK_ReportUser_Reason]
GO
